<div class="jumbotron text-center hoverable p-4">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">
  
        <!-- Featured image -->
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcvHTEeb3acoM7fvOBX4q1JY7tdrsqRfPg-Aw-LXXpt5zboPuL" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">
  
        <!-- Excerpt -->
        <a href="https://www.theweathernetwork.com/us/photos/gallery/latest" class="green-text">
          <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> The weather network</h6>
        </a>
  
        <h4 class="h4 mb-4">Weather</h4>
  
        <p class="font-weight-normal">Weather is the state of the atmosphere, describing for example the degree to which it is hot or cold, wet or dry, calm or stormy, clear or cloudy.[1] Most weather phenomena occur in the lowest level of the atmosphere, the troposphere,[2][3] just below the stratosphere. Weather refers to day-to-day temperature and precipitation activity, whereas climate is the term for the averaging of atmospheric conditions over longer periods of time.[4] When used without qualification, "weather" is generally understood to mean the weather of Earth.</p>
        <p class="font-weight-normal">Text is available under the <a><strong>Creative Commons Attribution-ShareAlike License;</strong></a> additional terms may apply. </p>
        <p>By using this site, you agree to the Terms of Use and Privacy Policy. Wikipedia® is a registered trademark of the Wikimedia Foundation, Inc., a non-profit organization.</p>
  
        <a href="https://en.wikipedia.org/wiki/Weather" mdbBtn color="success" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </div>
