<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMyuvZ1drKxmwKFnI-cv8OFfQp8Hw5sHSgfJQOcWylW8yhz0qf" width="50" height="50" alt="Angular"></a>
      <ul class="nav justify-content-center nav-tabs" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link active" routerLink="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="list">List and Table</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="images">Images</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="post">Post tiles</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>