<div class="table-responsive">
  <h3>Weather in Cherkasy <mdb-badge color="cyan">for a week</mdb-badge></h3>
  <table class="table table-hover">
    <thead>
      <tr class="table-info">
        <th scope="col"><mdb-icon icon="table" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Day</th>
        <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Sunday</th>
        <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Monday</th>
        <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Tuesday</th>
        <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Wednesday</th>
        <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Thursday</th>
        <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Friday</th>
        <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><mdb-icon icon="diamond" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Temperature</th>
        <td>-12*</td>
        <td>-14*</td>
        <td>-2*</td>
        <td>-3*</td>
        <td>0*</td>
        <td>-5*</td>
        <td>+1*</td>
      </tr>
      <tr>
        <th scope="row"><mdb-icon icon="download" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Rainfall</th>
        <td>24%</td>
        <td>86%</td>
        <td>87%</td>
        <td>20%</td>
        <td>35%</td>
        <td>23%</td>
        <td>12%</td>
      </tr>
      <tr>
        <th scope="row"><mdb-icon icon="image" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Cloudiness</th>
        <td>Rainy</td>
        <td>Cloudy</td>
        <td>Clear</td>
        <td>Cloudy</td>
        <td>Clear</td>
        <td>Clear</td>
        <td>Cloudy</td>
      </tr>
      <tr>
          <th scope="row"><mdb-icon icon="magic" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Wind</th>
          <td>-> 4.4</td>
          <td>-> 2.2</td>
          <td>-> 1.4</td>
          <td>-> 4.6</td>
          <td>-> 2.6</td>
          <td>-> 3.7</td>
          <td>-> 5.3</td>
        </tr>
    </tbody>
  </table>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
        blandit.</p>
      <small>Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
        blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
        blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
  </div>